<nav>
  <div class="container">
    <a href="#">My App</a>
    <button type="button" data-target="#navbarNav">
      <span></span>
    </button>
    <div id="navbarNav">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
