<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<BODY>
  <nav>
    <style>
      nav {
        background-color: #333;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5px;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      nav a.btn {
        background-color: #fff;
        color: #000000;
        padding: 4px 10px;
        border-radius: 5px;
      }
    </style>
    <a href="/"><img src="/public/images/logo.png">
      yF <h1>MultiPtero</h1>
    </a>

    <a href="#functions">Funciones</a>
    <a href="#about">Acerca de</a>

    <a href="/dashboard" class="btn">Dashboard</a>
  </nav>
  <link rel="stylesheet" href="style.css" />
  <div class="hero" style="background-image: url(/public/images/hero.jpg); text-size-adjust: 40;">
    <h1>MultiPtero> El panel de tus sueños</h1>
    <p style="text-size-adjust: 100;">Te damos la bienvenida a una nueva forma de administrar tus servidores. 100% GRATIS y 100% SEGURA</p>
      <p>¿Cansado de tener que buscar cada uno de los paneles cada vez que va a hacer un cambio? ¿Te gustaría tener un panel de control que unifique
      tus servidores? Pues ¡lo tienes! Con MultiPlero, puedes gestionar tus servidores de forma simple y segura. Crea, edita y administra tus servidores de forma simple y segura.</p>
    </p>
  </div>
</BODY>

</html>