<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Preguntas frecuentes
          </p>
          <p class="text-base mt-4 text-zinc-500">
            Respuestas a las preguntas más comunes sobre MultiPtero
          </p>
        </div>
      </div>
      <div
        x-data="{
  activeAccordion: '',
  setActiveAccordion(id) {
  this.activeAccordion = (this.activeAccordion == id) ? '' : id
  }
  }"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-black"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Cómo puedo acceder a MultiPtero?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500 -rotate-[45deg]"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              Puedes acceder a MultiPtero a través de cualquier navegador web moderno visitando nuestra página web. También ofrecemos aplicaciones dedicadas para dispositivos móviles que puedes descargar desde las tiendas de aplicaciones oficiales.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Qué tipos de servidores puedo gestionar con MultiPtero?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              MultiPtero permite gestionar una amplia variedad de servidores de juegos, incluyendo Minecraft, Terraria, Counter-Strike, y muchos más. Nuestra plataforma se actualiza constantemente para soportar nuevos tipos de servidores.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Necesito conocimientos técnicos para usar MultiPtero?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              No, MultiPtero está diseñado para ser fácil de usar incluso para principiantes. Nuestra interfaz intuitiva te permite gestionar tus servidores sin necesidad de conocimientos técnicos avanzados.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Cómo funciona el sistema de respaldos?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              MultiPtero realiza copias de seguridad automáticas de tus servidores según el calendario que configures. Puedes programar respaldos diarios, semanales o mensuales, y restaurarlos fácilmente cuando lo necesites.
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>Cómo puedo cambiar mi servidor de un hosting a otro?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              En MultiPtero, podemos ayudarte con el proceso de cambio de un hosting a otro! Solamente necesitas acceder a <a href="https://multiptero.pages.dev/migrate">esta página</a> y sigue los pasos!
            </div>
          </div>
        </div>
        <div
          x-data="{ id: $id('accordion') }"
          :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
          class="cursor-pointer group text-zinc-600 hover:text-accent-500"
        >
          <button
            @click="setActiveAccordion(id)"
            class="flex items-center justify-between w-full p-4 pb-1 text-left font-medium select-none"
          >
            <span>¿Cómo puedo obtener soporte técnico?</span>
            <svg
              class="w-5 h-5 duration-300 ease-out text-accent-500"
              :class="{ '-rotate-[45deg]': activeAccordion==id }"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v12m6-6H6"></path></svg
            >
          </button>
          <div x-show="activeAccordion==id" x-collapse="">
            <div class="p-4 pt-2 text-zinc-500">
              Ofrecemos soporte técnico 24/7 a través de nuestro sistema de tickets, chat en vivo y correo electrónico. Nuestro equipo de expertos está siempre disponible para ayudarte con cualquier problema o duda.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
