<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Política de privacidad
        </h1>
        <p class="mt-4 text-base lea ding-7 text-gray-500">
          Última actualización: 26 de Octubre de 2024
        </p>
      </div>
    </div>
    <div
      class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
    >
      <p>
        MultiPtero es una marca oficial de ByAlRevés Studio. Esta política de
        privacidad establece cómo manejamos la información en nuestros
        servicios, incluyendo la forma en que recolectamos, almacenamos y
        protegemos tus datos personales.
      </p>
      <h3>Recolección y Manejo de Datos</h3>
      <p>
        No mantenemos registros de actividad de los usuarios. Todos los datos
        son cifrados de extremo a extremo (E2E) y son encriptados/desencriptados
        directamente en el cliente, lo que significa que no tenemos acceso a
        ninguna información sensible. Esta práctica se aplica a todos los datos
        que recolectamos, incluyendo direcciones de correo electrónico, nombres
        de usuario y contraseñas.
      </p>
      <h3>No Venta de Datos</h3>
      <p>
        No vendemos, comercializamos ni compartimos ningún dato de usuario con
        terceros. Tu privacidad es nuestra prioridad, y nos aseguramos de no
        tener acceso a información sensible sobre ti. No compartimos ni vendemos
        tus datos con terceros sin tu consentimiento previo y expreso.
      </p>
      <h3>Seguridad</h3>
      <p>
        Utilizamos cifrado de extremo a extremo (E2E) para garantizar que solo
        tú tengas acceso a tu información. Todos los procesos de encriptación y
        desencriptación ocurren en tu dispositivo, lo que significa que no
        podemos acceder a tus datos en cualquier momento. Además, utilizamos
        protocolos de seguridad avanzados para proteger tus datos en transito y
        en reposo.
      </p>
      <h3>Soporte y Contacto</h3>
      <p>
        Para cualquier pregunta, problema o inquietud, por favor utiliza
        nuestros canales oficiales, que son los siguientes:
      </p>
      <ul>
        <li>
          GitHub: Abre un issue en nuestro repositorio oficial, donde nuestros
          desarrolladores podrán responder a tus preguntas y resolver tus
          problemas. Puedes encontrar nuestros repositorios en <a
            href="https://github.com/ByAlRevés-Studio"
            target="_blank">ByAlRevés-Studio</a
          >.
        </li>
        <li>
          Discord: Únete a nuestro servidor oficial de Discord, donde puedes
          comunicarte con nuestra comunidad y obtener ayuda de nuestros
          moderadores y desarrolladores. Puedes encontrar nuestro servidor en <a
            href="https://discord.com/invite/byalreves-studio"
            target="_blank">ByAlRevés-Studio</a
          >.
        </li>
      </ul>
      <h3>Marca Registrada</h3>
      <p>
        MultiPtero es una marca oficial de ByAlRevés Studio. Todos los derechos
        reservados. No permitimos el uso no autorizado de nuestra marca ni de
        nuestros logotipos. Si deseas utilizar nuestra marca, por favor haz
        solicitud formal y obtendremos permiso para que puedas hacerlo.
      </p>
    </div>
  </div>
</section>
